<header>
    <div class="section__container header__container">
      <div class="header__image">
        <img src="assets/horseRiding.jpg" alt="header" />
        <img src="assets/upsideDownHouse.jpg" alt="header" />
      </div>
      <div class="header__content">
        <div>
            <p class="sub__header">Start Your Adventure</p>
            <h1>Explore the World 🌍<br />with Your Trusted Travel Partner</h1>
            <p class="section__subtitle">
              Discover new destinations, create unforgettable memories, and travel with ease. 
              We pride ourselves on offering top-notch services tailored to our clients' needs.
            </p>
            <div class="action__btns">
              <button class="btn">Plan Your Journey</button>
              <div class="story">
                <div class="video__image">
                  <img src="assets/story.jpg" alt="Travel story" />
                  <span><i class="ri-play-fill"></i></span>
                </div>
                <span>Watch Our Journey</span>
            </div>
          </div>
        </div>
      </div>
    </div>
  </header>