<section id="Packages" class="trip">
    <div class="section__container trip__container">
      <h2 class="section__title">Best trip package</h2>
      <p class="section__subtitle">
        Explore your suitable and dream places around the world. Here you can
        find your right destination.
      </p>
      <div class="trip__grid">
        <div class="trip__card">
          <img src="assets/trip-1.jpg" alt="trip" />
          <div class="trip__details">
            <p>Wasserwerk Frelberg, Germany</p>
            <div class="rating"><i class="ri-star-fill"></i> 4.2</div>
            <div class="booking__price">
              <div class="price"><span>From</span> R5 484</div>
              <button class="book__now">Reserve</button>
            </div>
          </div>
        </div>
        <div class="trip__card">
          <img src="assets/trip-2.jpg" alt="trip" />
          <div class="trip__details">
            <p>Patagonia, Argentina and Chile</p>
            <div class="rating"><i class="ri-star-fill"></i> 4.5</div>
            <div class="booking__price">
              <div class="price"><span>From</span> R8 225</div>
              <button class="book__now">Reserve</button>
            </div>
          </div>
        </div>
        <div class="trip__card">
          <img src="assets/trip-3.jpg" alt="trip" />
          <div class="trip__details">
            <p>The Dolomites, Italy</p>
            <div class="rating"><i class="ri-star-fill"></i> 4.7</div>
            <div class="booking__price">
              <div class="price"><span>From</span> R7 311</div>
              <button class="book__now">Reserve</button>
            </div>
          </div>
        </div>
      </div>
      <div class="view__all">
        <a href="#home" class="btn">View All</a>
      </div>
    </div>
  </section>