<section class="subscribe">
    <div class="section__container subscribe__container">
      <div class="subscribe__content">
        <h2 class="section__title">Subscribe to get special prize</h2>
        <p class="section__subtitle">
          Explore your suitable and dream places around the world. Here you
          can find your right destination.
        </p>
      </div>
      <div class="subscribe__form">
        <form>
          <input type="email" placeholder="email@example.com" />
          <button class="btn" type="submit">Send</button>
        </form>
      </div>
    </div>
  </section>