<section id="destinations" class="section__container destination__container">
    <div class="section__header">
      <div>
        <h2 class="section__title">Explore top destinations</h2>
        <p class="section__subtitle">
          Explore your suitable and dream places around the world. Here you
          can find your right destination.
        </p>
      </div>
      <div class="destination__nav">
        <span><i class="ri-arrow-left-s-line"></i></span>
        <span><i class="ri-arrow-right-s-line"></i></span>
      </div>
    </div>
    <div class="destination__grid">
      <div class="destination__card">
        <img src="assets/destination-1.jpg" alt="destination" />
        <div class="destination__details">
          <p class="destination__title">Banff</p>
          <p class="destination__subtitle">Canada</p>
        </div>
      </div>
      <div class="destination__card">
        <img src="assets/destination-2.jpg" alt="destination" />
        <div class="destination__details">
          <p class="destination__title">Machu Picchu</p>
          <p class="destination__subtitle">Peru</p>
        </div>
      </div>
      <div class="destination__card">
        <img src="assets/destination-3.jpg" alt="destination" />
        <div class="destination__details">
          <p class="destination__title">Lauterbrunnen</p>
          <p class="destination__subtitle">Switzerland</p>
        </div>
      </div>
      <div class="destination__card">
        <img src="assets/destination-4.jpg" alt="destination" />
        <div class="destination__details">
          <p class="destination__title">Zhangjiajie</p>
          <p class="destination__subtitle">China</p>
        </div>
      </div>
    </div>
  </section>